.container{
    margin: 55px auto;
    max-width: 45vw;
}
.center{
    text-align: center;
}

@media screen and (max-width: 400px) {
    .container{
        margin: 45px auto;
        max-width: 90vw;
    }
  }