.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}

.blogItemh3 {
  cursor: pointer;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
.blogItemp{
  max-width: 45vw;
}

@media screen and (max-width: 400px) {
  .main{
      margin: 0px auto;
      max-width: 90vw;
  }
  .blogItemh3 {
    font-size: 1.3rem;
  }
  .blogItemp{
    max-width: 90vw;
  }

}