.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
}

.container {
    padding: 0 18rem;
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0 5rem;
      }
}
@media screen and (max-width: 587px) {
    .container {
        padding: 0 1.7rem;
    }
    .stylesh1{
        font-size: 1.5rem;
        text-align: center;
    }
}